$primary: #F75023;
$text: #555;
$heading: #000000;
$btn-bg: #F75023;
$border: #eee;
$menu-color: #555;
$divider-color: #F75023;
$star-color: #F75023;
$testimonial-icon: #F75023;


p, a{
    color: $text;
}

h1, h2, h3, h4, h5, h6{
    color: #000000;
}