@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import 'colors';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1260px;
    margin: auto;
}
.product__container{
    margin: 60px auto 0;
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    .product{
        width: 23%;
        transition: all 0.3s ease;
        margin-bottom: 60px;
        img{
            width: 100%;
            margin-bottom: 10px;
        }
        .product__title{
            margin-bottom: 5px;
        }
        .product__rating{
            margin-bottom: 5px;
            cursor: pointer;
        }
        .product__price{
            color: $text;
            font-weight: 500;
        }
        &:hover{
            margin-top: -25px;
        }
    }
}

.btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 6px 30px;
    border-radius: 50px;
    border: 2px solid $btn-bg;
    background: $btn-bg;
    color: white;
    transition: all 0.3s ease;
    &:hover{
        color: $btn-bg;
        background: white;
    }
}

hr{
    border-color: $divider-color;
    border-width: 3px;
    width: 110px;
    margin: 10px auto;
}
.fa-star{
    color: white;
    -webkit-text-stroke: 1px $star-color;
}
.checked {
    color: $star-color;
}

// // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .container{
        width: 100%;
    }

    .product__container{
        width: 100%;
        .product{
            width: 47%;
            margin-bottom: 40px;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
    .product__container{
        width: 100%;
        .product{
            width: 47%;
            margin-bottom: 30px;
        }
    }
}